* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-self: center;
}

li {
    box-sizing: border-box;
    flex: none;
    font-weight: 500;
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
}

ul {
    display: flex;
    justify-content: center;
}