<div>
    <button id="hamburgerButton"><img id="hamburgerIcon" src="/src/assets/hamburgerMenu.png" alt=""></button>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/src/pages/aboutMe.html">About Me</a></li>
    <li><a href="/src/pages/myInterests.html">My Interests</a></li>
    <li><a href="/src/pages/timeline.html">Timeline</a></li>
    <li><a href="/src/pages/extras.html">Extras</a></li>
    <li><a href="/src/pages/contactMe.html">Contact Me</a></li>
    <button id="nightButton"><img id="nightButtonImage" src="https://cdn-icons-png.flaticon.com/512/6714/6714978.png" alt=""></button>
</div>