* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid red;
}

body {
    background: #f4f7fb;
    color: #773399;
    visibility: "hidden";
}

#main {
    animation: fadeIn 0.6s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        translate: 0 40px;
    }
    to {
        opacity: 1;
        translate: 0 0px;
    }
}

.particle {
    width: 8px;
    height: 8px;
    background: #773399;
    border-radius: 50%;    
    pointer-events: none;
    will-change: transform, opacity;
    outline: solid red 0.5px;
}

h1 {
    justify-self: center;
}

h6 {
    justify-self: center;
}

li {
    box-sizing: border-box;
    flex: none;
    font-weight: 500;
    list-style: none;
}
a {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    text-decoration: none;
}
ul {
    display: flex;
    justify-content: center;
}

header :not(:last-child){
    border-right: 2px solid grey;
}